doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        
        block title
        block styles
    body 
        header 
            nav 
                ul 
                    li: a(href="/", class=(path === '/' ? 'active' : '')) My Products 
                    li: a(href="/admin/add-product", class=(path === '/admin/add-product' ? 'active' : '')) Add Products
        main 
            block content