<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/add-product.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">My Product</a></li>
                <li><a href="./add-product">Add Products</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1>Add Product</h1>
        <form action="/admin/add-product" method="POST">
            <input type="text" name="title">
            <button type="submit">Send</button>
        </form>
    </main>
</body>
</html>