<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/shop.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">My Product</a></li>
                <li><a href="/admin/add-product">Add Products</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1>My Product Lists</h1>
        <div>All Products Lists</div>
    </main>
</body>
</html>