<%- include('includes/head.ejs') %>
    <link rel="stylesheet" href="/css/shop.css">
</head>
<body>
    <%- include('includes/navigation.ejs') %>
    <main>
        <h1>My Product Lists</h1>
        <% if(products.length > 0) { %>
        <div>All Products Lists</div>
            <div class="grid">
                <% for(let p of products) { %>
                    <div class="card">
                        <div class="card_title"><%= p.title %></div>
                        <img src="https://cdn.pixabay.com/photo/2015/04/19/08/32/marguerite-729510_640.jpg" alt="" class="card_image">
                        <p class="card_price">$99</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus eos voluptates praesentium, aut laudantium iure, nam nesciunt earum ipsum cum officia distinctio consectetur modi numquam optio hic et. Recusandae, optio.</p>
                    </div>
                <% } %>
            </div>
        <% } else { %>
            <h2>There is no product</h2>
        <% } %>
    </main>
<%- include('includes/footer.ejs') %>

