<main>
  <h1>My Product Lists</h1>
  <div>All Products Lists</div>
  {{#if hasProduct}}
    {{#each products}}
      <div class="grid">
        <div class="card">
          <div class="card_title">{{this.title}}</div>
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSFspDmai5HxWIFbhRXdS7ISVNKEjd_PnklGUPN2aUiG9Ap975HCiofYZJcR5uNATaT20s&usqp=CAU"
            alt=""
            class="card__image"
          />
          <p class="card_price">$99</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Necessitatibus eos voluptates praesentium, aut laudantium iure, nam
            nesciunt earum ipsum cum officia distinctio consectetur modi numquam
            optio hic et. Recusandae, optio.</p>
        </div>
      </div>
    {{/each}}
  {{else}}
    <h1>There is no product</h1>
  {{/if}}
</main>