extends layouts/main-layout.pug

block title 
    title #{pageTitle}    

block styles 
    link(rel="stylesheet", href="/css/shop.css")
    
block content
    h1 My Product Lists 
    div All Product Lists

    if products.length > 0
        .grid 
            each product in products 
                .card 
                    .card__title #{product.title}
                    img.card__image(src="https://dfstudio-d420.kxcdn.com/wordpress/wp-content/uploads/2019/06/digital_camera_photo-980x653.jpg") 
                    p.card__price $99
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque commodi possimus exercitationem laboriosam similique animi consequuntur repellat ut. Earum veritatis culpa veniam assumenda quas praesentium magnam quia amet fuga consectetur.
    else 
        h1 There is no product.