<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop</title>
    <link rel="stylesheet" href="/css/shop.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">My Product</a></li>
                <li><a href="/admin/add-product">Add Products</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1>My Product Lists</h1>
        <div>All Products Lists</div>

            <div class="grid">
                <div class="card">
                    <div class="card_title">Card Title</div>
                    <img src="https://cdn.pixabay.com/photo/2015/04/19/08/32/marguerite-729510_640.jpg" alt="" class="card_image">
                    <p class="card_price">$99</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus eos voluptates praesentium, aut laudantium iure, nam nesciunt earum ipsum cum officia distinctio consectetur modi numquam optio hic et. Recusandae, optio.</p>
                </div>
            </div>
    </main>
</body>
</html>