body{
    margin: 0;
    padding: 0;
}
nav {
    padding: 0.5rem;
    background-color: aquamarine;
}
nav ul {
    display: flex;
    gap: 1rem;
}
li {
    list-style-type: none;
}
a {
    padding:  0.5rem;
    background-color: aqua;
    color: white;
    text-decoration: none;
}
main {
    padding: 1rem;;
}
.active {
    color: red;
}
/*=== button ===*/
.btn__primary {
    padding: 0.5rem;
    border-radius: 3px;
    background-color: aquamarine;
    outline: none;
    border: 1px solid aqua;
    cursor: pointer;
}
.btn__primary:hover {
    background-color: aqua;
    color: white;
}
.card__actions {
    display: flex;
    justify-content: end;
    align-items: center;
    gap:5px
}
.card__actions a {
    color: #000;
}